# Virtual environment
venv/
venv310/

# Python cache
__pycache__/
*.pyc
*.pyo

# Mac files
.DS_Store

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# Model files (optional)
*.h5
*.ckpt
